.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  overflow: auto;
}

.header {
  padding: 10px 20px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

.title {
  font-size: 18px;
  font-weight: 500;
  float: left;
}

.refreshbutton {
  display: inline-block;
  cursor: pointer;
  margin-left: .5em;
}

:global(.refreshLoading) svg {
  animation-name: rotateThis;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotateThis {
  from { transform: scale( 1 ) rotate( 0deg );   }
  to   { transform: scale( 1 ) rotate( 360deg ); }
}

.pushbutton,
.pullbutton {
  float: right;
  background-color: green;
  color: white;
  padding: 3px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.pushbutton {
  margin-left: .5em;
}

.files {
  flex-grow: 1;
  padding: 10px 20px;
}

.filelist {
  width: 100%;
}

.filerow td:first-child {
  padding-left: 1em;
}

.expandedIcon,
.folderName,
.childrenLength {
  cursor: pointer;
}

.folderheading {
   margin: 0;
}

.expandedIcon {
  display: inline-block;
  min-width: 1em;
}

.folderName,
.fileheader {
  font-weight: 500;
}

.childrenLength {
  font-weight: 400;
  opacity: .9;
  padding-left: 0.5em;
}
