.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  overflow: auto;
}

.header {
  padding: 10px 20px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

.title {
  font-size: 18px;
  font-weight: 500;
  float: left;
}

.syncbutton {
  float: right;
  background-color: green;
  color: white;
  padding: 3px 10px;
  border-radius: 3px;
}

.files {
  flex-grow: 1;
  padding: 10px 20px;
}

.filelist {
  width: 100%;
}
